.primera-seccion {
  display: flex;
  flex-direction: column;

  h1 {
    color: #060a24;
    font-size: 36px;
    margin: 32px 10px;
    display: inline-block;
    .world {
      color: #060a24;

      text-decoration-line: line-through;
      display: inline-block;
    }
    .h1part2 {
      display: block;
    }
  }

  .p-primero {
    line-height: 22px;
    margin: 0 16px 36px 16px;
    font-size: 14px;
    color: #060a24;
    text-align: justify;
    line-height: 22px;
    font-family: "IBM Plex Mono", monospace;
  }

  .boton-mas {
    background: #00f3bb;
    color: #060a24;
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    margin: auto;
    padding: 13px 0px;
    width: 288px;
    text-align: center;

    text-decoration: none;
    transition: 0.4s;
    background-size: 150%;
  }
}
.boton-mas:hover {
  background-image: linear-gradient(
    to left,
    #0000fe,
    #3333f5,
    #00d1e5,
    #00f0b8,
    #00f0b8
  );
  color: white;
  background-position: right;
}
@media only screen and (min-width: 768px) {
  .primera-seccion {
    margin-left: 100px;

    h1 {
      margin: 120px 16px 15px;
      font-size: 45px;
      .h1part2 {
        display: inline-block;

        .dot {
          color: blue;
        }
      }
    }

    .p-primero {
      font-size: 20px;
      margin-right: 25%;
      letter-spacing: 0px;
    }

    .boton-mas {
      font-size: 16px;
      width: 320px;
      padding: 16px 0;
      margin: 0px 20px;
    }
  }
}
@media only screen and (min-width: 1024px){
  .primera-seccion {
    margin-left: 100px;

    h1 {
      margin: 120px 16px 15px;
      font-size: 52px;
      .h1part2 {
        display: inline-block;

        .dot {
          color: blue;
        }
      }
    }

    .p-primero {
      font-size: 22px;
      margin-right: 38%;
      margin-left: 16px;
      letter-spacing: 0px;
    }

    .boton-mas {
      font-size: 16px;
      width: 320px;
      padding: 16px 0;
      margin: 0px 20px;
    }
  }
}
@media only screen and (min-width: 1440px){
  .primera-seccion{
    h1{
      font-size: 65px;
    }
    .p-primero{
      margin-right: 48%;
    }

  }
}