.copyright-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .copyright {
    letter-spacing: 2px;
    font-size: 14px;
    color: #060a24;
    text-align: center;
    margin-top: 25px;
  }
  .links {
    display: flex;
    justify-content: center;
    .icon-social {
      width: 16px;
      height: 16px;
      margin: 20px  18px;
    }
  }
}
@media only screen and (min-width: 1024px)  {
  .copyright-links {
    flex-direction: row;
    justify-content: space-between;
    .copyright {
      width: auto;
      height: 22px;
      margin: 25px 46.5px;
      margin-top: 25px;
      font-size: 16px;
    }
    .links {
      margin-top: 26px;
      margin-right: 25px;
      .icon-social {
        width: 16px;
        height: 16px;
        margin: 0px 18px 0px 18px;
      }
    }
  }
}