.cuarta-seccion {
  margin-top: 48px;
  width: auto;

  .h2-temas {
    font-size: 36px;
    color: #060a24;
    margin: 0 16px 37px 16px;
  }
  .conjunto-temas {
    display: flex;

    flex-direction: column;
    .temas {
      text-align: center;
      a {
        text-decoration: none;
        .img-temas {
          width: 104px;
          height: 104px;
        }
        .h3-temas {
          color: #060a24;
          margin: 0 16px;
          margin-bottom: 65px;
          font-size: 24px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px){
  .cuarta-seccion{
    
    .h2-temas{
      margin-left: 10%;
    }
    .conjunto-temas{
      display: flex;
      flex-direction: row;
      justify-content: center;
      .temas{
        padding-top: 20px;
       a{
        .img-temas{
        width: 80px;
        }
      
        .h3-temas{
          font-size: 20px;
        }
      }
    }
    }
  }
}
