header {
  width: 100%;
  height: 44px;
  position: sticky;
  top: 0%;

  background-color: white;
  z-index: 2;
  .container {
    display: flex;
    justify-content: space-between;
    .logo {
      width: 24px;
      height: 24px;
      margin: 10px 16px;
    }

    #menu-hamburguesa {
      display: none;
    }

    .icon {
      width: 18px;
      height: 12px;
      margin: 16px 19px;
    }
    .icon-close {
      width: 18px;
      height: 12px;
      margin: 16px 19px;
      display: none;
    }

    .tabla-de-contenido {
      .box {
        margin-top: 44px;
        position: absolute;
        left: 0px;
        width: 100%;
        background-color: #0000ec;
        display: none;
        li {
          padding: 16px;
          list-style: none;
          a {
            display: block;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}

/*accion para desplegar el menu en mobile*/
#menu-hamburguesa:checked + .tabla-de-contenido >.box {
  display: block;
}
#menu-hamburguesa:checked + .tabla-de-contenido + .label .icon{
  display: none;
 
}
#menu-hamburguesa:checked + .tabla-de-contenido + .label .icon-close{
  display: block;
  
}
@media (min-width: 375px) {
  header {
    width: 100%;
    height: 44px;

    .container {
      .logo {
        margin: 10px 16px;
      }

      .icon {
        width: 18px;
        height: 12px;
        margin: 16px 19px;
      }
    }
  }
}
@media (min-width: 425px) {
  header {
    width: 100%;
    height: 48px;

    .container {
      .logo {
        margin: 10px 16px;
      }

      .icon {
        width: 18px;
        height: 12px;
        margin: 16px 19px;
      }
      .table-of-content {
        .box {
          margin-top: 44px;

          li {
            padding: 16px;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  header {
    width: 100%;
    height: 60px;

    .container {
      .logo {
        margin: 15px 16px;
        .imglogo {
          width: 30px;
          height: 30px;
        }
      }

      .icon {
        width: 24px;
        height: 18px;
        margin: 21px 19px;
      }

      .tabla-de-contenido {
        .box {
          margin-top: 60px;
          position: absolute;
          left: 0px;
          width: 100%;
          background-color: blue;
          display: flex;
          display: none;
          justify-content: center;
          li {
            padding: 16px;

            list-style: none;
            a {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  header {
    width: 100%;
    height: 80px;

    .container {
      .logo {
        margin: 22px 50px;
        .imglogo {
          width: 30px;
          height: 30px;
        }
      }

      .icon {
        visibility: hidden;
      }
      .tabla-de-contenido {
        position: absolute;
        right: 0%;
        width: 400px;
        margin-right: 50px;
        .box {
          margin-top: 60px;
          background-color: transparent;

          margin-top: 0;
          display: flex;
          li {
            padding: 26px;

            list-style: none;
            a {
              color: #060a24;
              font-size: 16px;
              &:hover {
                text-decoration-line: line-through;
                color: #00f3bb;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  header {
    width: 100%;
    height: 80px;

    .container {
      .logo {
        margin: 22px 100px;
        .imglogo {
          width: 36px;
          height: 36px;
        }
      }

      .icon {
        visibility: hidden;
      }

      .tabla-de-contenido {
        position: absolute;
        right: 0%;
        width: 400px;
        margin-right: 100px;
        .box {
          margin-top: 60px;
          background-color: transparent;
          margin-top: 0;
          visibility: visible;
          li {
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  li:hover {
    text-decoration-line: line-through;
  }
}
@media (min-width: 1920px) {
  header {
    width: 100%;
    height: 100px;
    .container {
      .logo {
        margin: 29px 100px;
        .imglogo {
          width: 42px;
          height: 42px;
        }
      }

      .icon {
        visibility: hidden;
      }

      .tabla-de-contenido {
        position: absolute;
        right: 0%;
        width: 400px;
        margin-right: 100px;

        .box {
          margin-top: 60px;
          background-color: transparent;
          margin-top: 0;
          visibility: visible;
          li {
            margin: 10px 0;
            a {
              color: #060a24;
              font-size: 22px;
            }
          }
        }
      }
    }
  }
  li:hover {
    text-decoration-line: line-through;
  }
}
