.segunda-seccion {
  margin: 35px 0;
  width: 100%;

  .segunda-seccion-parte1 {
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    background-image: linear-gradient(
      to bottom,
      #0000ff,
      #0000e7,
      #0000d0,
      #0000b9,
      #0000a3
    );
    padding-bottom: 160px;

    .spotify {
      .h2-episodios {
        font-size: 36px;
        padding-top: 70px;
        margin-left: 16px;
        color: white;
        font-family: "IBM Plex Mono", monospace;
      }
     
      
      .img-ep {
        margin: 10px 2.5%;
        width: 95%;
        background-color: transparent;
        height: 232px;
      }
    }
  }
  .phone {
    width: 300px;
    height: auto;
    position: absolute;
    top: 1580px;
    left: 50%;
    margin-left: -150px;
  }
  .dd-venimos {
    color: #060a24;
    margin: 450px 16px 45px 16px;
    .h2-venimos {
      font-size: 36px;
      margin-top: 27px;
      margin-right: 140px;
    }
    .p-venimos {
      font-family: "IBM Plex Mono", monospace;
      background-color: transparent;
      border: 0px;
      margin: 8px 2% 54px 2%;
      
      font-size: 16px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .segunda-seccion {
    .segunda-seccion-parte1 {
      .spotify {
        .img-ep {
          margin: 15px 10%;
          width: 80%;
        }
      }
    }
    .phone {
      top: 1640px;
      width: 500px;
      margin-left: -250px;
    }
    .dd-venimos {
      margin-top: 750px;

      .h2-venimos {
        text-align: center;
        margin-right: 0px;
      }
      .p-venimos {
        margin: 8px 10% 54px 10%;
      }
    }
  }
}
@media only screen and (min-width: 1024px){
.segunda-seccion{
  .segunda-seccion-parte1{
    .spotify{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .h2-episodios{
        width: 100%;
      }
      .img-ep{
        width:45%;
        margin: 10px 2.5%;
      }
    }
  }
}
.segunda-seccion-parte2{
 
  .phone{
  top: 1150PX;
  left: 34%;
  width: 400px;
  margin-left: -200px;
  }
  .dd-venimos{
    right: 0px;
    width: 340px;
    float: right;
    margin-right: 18%;
    margin-top: 50px;
    
  }
}
}
@media only screen and (min-width: 1440px){
  .segunda-seccion{
    .segunda-seccion-parte2{
  .dd-venimos{
    
    margin-right: 30%;
  } 
  }
  }
}