* {
  margin: 0px;
  padding: 0px; }

header {
  width: 100%;
  height: 44px;
  position: sticky;
  top: 0%;
  background-color: white;
  z-index: 2; }
  header .container {
    display: flex;
    justify-content: space-between; }
    header .container .logo {
      width: 24px;
      height: 24px;
      margin: 10px 16px; }
    header .container #menu-hamburguesa {
      display: none; }
    header .container .icon {
      width: 18px;
      height: 12px;
      margin: 16px 19px; }
    header .container .icon-close {
      width: 18px;
      height: 12px;
      margin: 16px 19px;
      display: none; }
    header .container .tabla-de-contenido .box {
      margin-top: 44px;
      position: absolute;
      left: 0px;
      width: 100%;
      background-color: #0000ec;
      display: none; }
      header .container .tabla-de-contenido .box li {
        padding: 16px;
        list-style: none; }
        header .container .tabla-de-contenido .box li a {
          display: block;
          text-decoration: none;
          color: white; }

/*accion para desplegar el menu en mobile*/
#menu-hamburguesa:checked + .tabla-de-contenido > .box {
  display: block; }

#menu-hamburguesa:checked + .tabla-de-contenido + .label .icon {
  display: none; }

#menu-hamburguesa:checked + .tabla-de-contenido + .label .icon-close {
  display: block; }

@media (min-width: 1024px) {
  header {
    width: 100%;
    height: 80px; }
    header .container .logo {
      margin: 22px 50px; }
      header .container .logo .imglogo {
        width: 30px;
        height: 30px; }
    header .container .icon {
      visibility: hidden; }
    header .container .tabla-de-contenido {
      position: absolute;
      right: 0%;
      width: 400px;
      margin-right: 50px; }
      header .container .tabla-de-contenido .box {
        margin-top: 60px;
        background-color: transparent;
        margin-top: 0;
        display: flex; }
        header .container .tabla-de-contenido .box li {
          padding: 26px;
          list-style: none; }
          header .container .tabla-de-contenido .box li a {
            color: #060a24;
            font-size: 16px; }
            header .container .tabla-de-contenido .box li a:hover {
              text-decoration-line: line-through;
              color: #00f3bb; } }
.primera-seccion {
  display: flex;
  flex-direction: column; }
  .primera-seccion h1 {
    color: #060a24;
    font-size: 36px;
    margin: 32px 10px;
    display: inline-block; }
    .primera-seccion h1 .world {
      color: #060a24;
      text-decoration-line: line-through;
      display: inline-block; }
    .primera-seccion h1 .h1part2 {
      display: block; }
  .primera-seccion .p-primero {
    line-height: 22px;
    margin: 0 16px 36px 16px;
    font-size: 14px;
    color: #060a24;
    text-align: justify;
    line-height: 22px;
    font-family: "IBM Plex Mono", monospace; }
  .primera-seccion .boton-mas {
    background: #00f3bb;
    color: #060a24;
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    margin: auto;
    padding: 13px 0px;
    width: 288px;
    text-align: center;
    text-decoration: none;
    transition: 0.4s;
    background-size: 150%; }

.boton-mas:hover {
  background-image: linear-gradient(to left, #0000fe, #3333f5, #00d1e5, #00f0b8, #00f0b8);
  color: white;
  background-position: right; }

@media only screen and (min-width: 768px) {
  .primera-seccion {
    margin-left: 100px; }
    .primera-seccion h1 {
      margin: 120px 16px 15px;
      font-size: 45px; }
      .primera-seccion h1 .h1part2 {
        display: inline-block; }
        .primera-seccion h1 .h1part2 .dot {
          color: blue; }
    .primera-seccion .p-primero {
      font-size: 20px;
      margin-right: 25%;
      letter-spacing: 0px; }
    .primera-seccion .boton-mas {
      font-size: 16px;
      width: 320px;
      padding: 16px 0;
      margin: 0px 20px; } }
@media only screen and (min-width: 1024px) {
  .primera-seccion {
    margin-left: 100px; }
    .primera-seccion h1 {
      margin: 120px 16px 15px;
      font-size: 52px; }
      .primera-seccion h1 .h1part2 {
        display: inline-block; }
        .primera-seccion h1 .h1part2 .dot {
          color: blue; }
    .primera-seccion .p-primero {
      font-size: 22px;
      margin-right: 38%;
      margin-left: 16px;
      letter-spacing: 0px; }
    .primera-seccion .boton-mas {
      font-size: 16px;
      width: 320px;
      padding: 16px 0;
      margin: 0px 20px; } }
@media only screen and (min-width: 1440px) {
  .primera-seccion h1 {
    font-size: 65px; }
  .primera-seccion .p-primero {
    margin-right: 48%; } }
.segunda-seccion {
  margin: 35px 0;
  width: 100%; }
  .segunda-seccion .segunda-seccion-parte1 {
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    background-image: linear-gradient(to bottom, #0000ff, #0000e7, #0000d0, #0000b9, #0000a3);
    padding-bottom: 160px; }
    .segunda-seccion .segunda-seccion-parte1 .spotify .h2-episodios {
      font-size: 36px;
      padding-top: 70px;
      margin-left: 16px;
      color: white;
      font-family: "IBM Plex Mono", monospace; }
    .segunda-seccion .segunda-seccion-parte1 .spotify .img-ep {
      margin: 10px 2.5%;
      width: 95%;
      background-color: transparent;
      height: 232px; }
  .segunda-seccion .phone {
    width: 300px;
    height: auto;
    position: absolute;
    top: 1580px;
    left: 50%;
    margin-left: -150px; }
  .segunda-seccion .dd-venimos {
    color: #060a24;
    margin: 450px 16px 45px 16px; }
    .segunda-seccion .dd-venimos .h2-venimos {
      font-size: 36px;
      margin-top: 27px;
      margin-right: 140px; }
    .segunda-seccion .dd-venimos .p-venimos {
      font-family: "IBM Plex Mono", monospace;
      background-color: transparent;
      border: 0px;
      margin: 8px 2% 54px 2%;
      font-size: 16px; }

@media only screen and (min-width: 768px) {
  .segunda-seccion .segunda-seccion-parte1 .spotify .img-ep {
    margin: 15px 10%;
    width: 80%; }
  .segunda-seccion .phone {
    top: 1640px;
    width: 500px;
    margin-left: -250px; }
  .segunda-seccion .dd-venimos {
    margin-top: 750px; }
    .segunda-seccion .dd-venimos .h2-venimos {
      text-align: center;
      margin-right: 0px; }
    .segunda-seccion .dd-venimos .p-venimos {
      margin: 8px 10% 54px 10%; } }
@media only screen and (min-width: 1024px) {
  .segunda-seccion .segunda-seccion-parte1 .spotify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .segunda-seccion .segunda-seccion-parte1 .spotify .h2-episodios {
      width: 100%; }
    .segunda-seccion .segunda-seccion-parte1 .spotify .img-ep {
      width: 45%;
      margin: 10px 2.5%; }

  .segunda-seccion-parte2 .phone {
    top: 1150PX;
    left: 34%;
    width: 400px;
    margin-left: -200px; }
  .segunda-seccion-parte2 .dd-venimos {
    right: 0px;
    width: 340px;
    float: right;
    margin-right: 18%;
    margin-top: 50px; } }
@media only screen and (min-width: 1440px) {
  .segunda-seccion .segunda-seccion-parte2 .dd-venimos {
    margin-right: 30%; } }
.tercera-seccion {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .tercera-seccion .h2-invitados {
    font-size: 36px;
    color: #060a24;
    width: 288px;
    margin: 14px 16px; }
  .tercera-seccion .invitados {
    width: 100%;
    height: auto; }

@media only screen and (min-width: 768px) {
  .tercera-seccion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    .tercera-seccion .h2-invitados {
      display: block;
      width: 100%; }
    .tercera-seccion .invitados {
      width: 50%; } }
@media only screen and (min-width: 1024px) {
  .tercera-seccion {
    padding-top: 200px; }
    .tercera-seccion .h2-invitados {
      margin-left: 10%; }
    .tercera-seccion .invitados {
      width: 33.3%; } }
.cuarta-seccion {
  margin-top: 48px;
  width: auto; }
  .cuarta-seccion .h2-temas {
    font-size: 36px;
    color: #060a24;
    margin: 0 16px 37px 16px; }
  .cuarta-seccion .conjunto-temas {
    display: flex;
    flex-direction: column; }
    .cuarta-seccion .conjunto-temas .temas {
      text-align: center; }
      .cuarta-seccion .conjunto-temas .temas a {
        text-decoration: none; }
        .cuarta-seccion .conjunto-temas .temas a .img-temas {
          width: 104px;
          height: 104px; }
        .cuarta-seccion .conjunto-temas .temas a .h3-temas {
          color: #060a24;
          margin: 0 16px;
          margin-bottom: 65px;
          font-size: 24px; }

@media only screen and (min-width: 1024px) {
  .cuarta-seccion .h2-temas {
    margin-left: 10%; }
  .cuarta-seccion .conjunto-temas {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .cuarta-seccion .conjunto-temas .temas {
      padding-top: 20px; }
      .cuarta-seccion .conjunto-temas .temas a .img-temas {
        width: 80px; }
      .cuarta-seccion .conjunto-temas .temas a .h3-temas {
        font-size: 20px; } }
.quinta-seccion {
  width: 100%;
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to left, #0000ff, #0000e7, #0000d0, #0000b9, #0000a3);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 341px; }
  .quinta-seccion .novedades {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .quinta-seccion .novedades .h2-novedades {
      margin-top: 80px;
      font-size: 40px;
      color: white; }
    .quinta-seccion .novedades .boton {
      margin: 30px 0; }
      .quinta-seccion .novedades .boton .a-boton {
        background: #00F3BB;
        padding: 13px 43px;
        text-decoration: none;
        color: #060A24; }
        .quinta-seccion .novedades .boton .a-boton:hover {
          background-image: linear-gradient(to left, #0000fe, #3333f5, #00d1e5, #00f0b8, #00f0b8);
          color: white;
          background-position: right;
          box-shadow: 0 0 15px white; }

@media only screen and (min-width: 768px) {
  .quinta-seccion .novedades .h2-novedades {
    margin-top: 140px; } }
.copyright-links {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .copyright-links .copyright {
    letter-spacing: 2px;
    font-size: 14px;
    color: #060a24;
    text-align: center;
    margin-top: 25px; }
  .copyright-links .links {
    display: flex;
    justify-content: center; }
    .copyright-links .links .icon-social {
      width: 16px;
      height: 16px;
      margin: 20px  18px; }

@media only screen and (min-width: 1024px) {
  .copyright-links {
    flex-direction: row;
    justify-content: space-between; }
    .copyright-links .copyright {
      width: auto;
      height: 22px;
      margin: 25px 46.5px;
      margin-top: 25px;
      font-size: 16px; }
    .copyright-links .links {
      margin-top: 26px;
      margin-right: 25px; }
      .copyright-links .links .icon-social {
        width: 16px;
        height: 16px;
        margin: 0px 18px 0px 18px; } }

/*# sourceMappingURL=main.css.map */
