.quinta-seccion {
  width: 100%;
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(
    to left,
    #0000ff,
    #0000e7,
    #0000d0,
    #0000b9,
    #0000a3
  );
  background-size: 100%;
  background-repeat: no-repeat;
  height: 341px;

  .novedades {
    .h2-novedades {
      color: white;
      font-size: 36px;
      margin: 0 16px 0 16px;
      width: 288px;
      height: 126px;
      padding-top: 64px;
      text-align: center;
      padding-bottom: 36px;
    }
    .boton {
      text-align: center;
      font-size: 16px;
      font-family: 'Noto Sans KR', sans-serif;
      background-color: #00f3bb;
      margin: 0 16px;
      padding: 16px 0;
      transition: 0.4s;
      background-size: 150%;
      a {
        color: #060a24;
        text-decoration: none;
        padding: 16px 46px;
        &:hover {
          color: white;
        }
      }
    }
  }
}
.boton:hover {
  background-image: linear-gradient(
    to left,
    #0000fe,
    #3333f5,
    #00d1e5,
    #00f0b8,
    #00f0b8
  );

  background-position: right;
  box-shadow: 0 0 15px white;
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .quinta-seccion {
    .novedades {
      .h2-novedades {
        margin: 0 43.5px;
        padding-top: 64px;
        padding-bottom: 36px;
      }
    }
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .quinta-seccion {
    .novedades {
      .h2-novedades {
        margin: 0 68.5px;

        padding-bottom: 40px;
        font-size: 40px;
      }
      .boton {
        margin: 0 26px;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .quinta-seccion {
    .novedades {
      .h2-novedades {
        margin: 0 38px;
        width: 692px;
        height: 62px;
        padding-top: 120px;
        font-size: 40px;
      }
      .boton {
        margin: auto;
        width: 345px;
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .quinta-seccion {
    .novedades {
      .h2-novedades {
        margin: 0 166px;
        width: 692px;
        height: 62px;
        padding-top: 140px;
        font-size: 48px;
      }
      .boton {
        margin: 0 339.5px;
        width: 345px;
        font-size: 18px;
      }
    }
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .quinta-seccion {
    .novedades {
      .h2-novedades {
        margin: 0 374px;
        width: 692px;
        height: 62px;
        padding-top: 140px;
        font-size: 48px;
      }
      .boton {
        margin: 0 547.5px;
        width: 345px;
        font-size: 18px;
      }
    }
  }
}
@media only screen and (min-width: 1920px) {
  .quinta-seccion {
    height: 400px;
    .novedades {
      .h2-novedades {
        margin: 0 614px;
        width: 692px;
        height: 62px;
        padding-top: 140px;
        font-size: 50px;
      }
      .boton {
        margin: 0 787.5px;
        width: 345px;
        font-size: 20px;
      }
    }
  }
}
